<tpl for=".">
  <div class="message-row {[values['copy?'] && values.status == 0 ? 'unread-message' : '']}" id="message_{id}">
  <table><tr>
    <td width="15"><input type="checkbox"/></td>
    <td width="200">{recipients_string}</td>
    <td width="320">{subject} - {short_body}</td>
    <td width="50" align="right">{created_at}</td>
  </tr></table>
  </div>
</tpl>