'<tpl for=".">',
'<div id="message_container" class="message-container">',
  '<div class="message-header">',
    '<h2 class="subject">{subject}</h2>',
    '<div class="info">',
      '<table>',
        '<tr>',
          '<td width="100"><span class="info-name">От кого</span></td>',
          '<td>{sender_full_name_abbr}</td>',
        '</tr>',
        '<tr>',
          '<td><span class="info-name">Кому</span></td>',
          '<td>{recipients_string}</td>',
        '</tr>',
        '<tr>',
          '<td><span class="info-name">Отправлено</span></td>',
          '<td>{created_at_full}</td>',
        '</tr>',
      '</table>',
    '</div>',
  '</div>',
  '<div class="body-container">{body}</div>',
'</div>',
'</tpl>'