<tpl for=".">
  <div class="message-row {[values['copy?'] && values.status == 0 ? 'unread-message' : '']}" id="message_{id}">
  <table><tr>
    <td width="15"><input class="message-checkbox" id="check_{id}" type="checkbox"/></td>
    <td width="110">{recipients_string}</td>
    <td width="410">{subject} - <div class="message-short-body">{short_body}</div></td>
    <td width="50" align="right">{created_at}</td>
  </tr></table>
  </div>
</tpl>