log/*
tmp/*
tmp/**/*
.DS_Store
._*
vendor/rails/**/*
vendor/rails/*
config/database.yml
config/sphinx.yml
config/*.sphinx.conf
public/stylesheets/sms.css
public/javascripts/sms.js
public/system/**/*
db/sphinx/*
.idea/*