<tpl for=".">
  <div class="search-result student-search-result">
    <div class="student-name">{full_name}, {student_group_name}</div>
    <div class="student-location">{student_location}</div>
  </div>
</tpl>