.waiting {
	background-image:url('../images/waiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:white;
}

.bigWaiting {
	background-image:url('../images/bigWaiting.gif');
	background-repeat:no-repeat;
	background-position:center 20%;
	background-color:white;
}

.blackWaiting {
	background-image:url('../images/blackWaiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}

.bigBlackWaiting {
	background-image:url('../images/bigBlackWaiting.gif');
	background-repeat:no-repeat;
	background-position:center center;
	background-color:black;
}