%h1.news-page-header Новости школы

- acl_block(new_news_path) do
  = link_to "Добавить", new_news_url
%br
%br

#news_list_container.news-list-container
  = render @news

= will_paginate(@news, :class => "news-pagination")