<table>
  <tr>
    <th>Name</th>
    <th>School Year</th>
    <th>Hours Per Week</th>
  </tr>
  <% for subject in @subjects %>
    <tr>
      <td><%=h subject.name %></td>
      <td><%=h subject.year %></td>
      <td><%=h subject.hours_per_week %></td>
      <td><%= link_to "Destroy", subject, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

