<div id="popup" class="x-hidden">
  <div class="x-window-header"></div>
  <div id="popup_main" class="term-popup">
    <% form_remote_tag :url => { :action => "create_term" }, :method => "POST", :html => { :id => "term_form" } do %>
      <table>
        <tr>
          <td>Начало</td>
          <td><%= extjs_date_field_control :term, :start_date %></td>
        </tr>
        <tr>
          <td>Конец</td>
          <td><%= extjs_date_field_control :term, :end_date %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>