<div class="left-menu-container">
  <% if current_user %>
    <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>       
    <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">
    <ul class="left-menu">
    <% menu_items.each do |item| %>
      <% acl_block(item.last) do %>
      <li>
        <%= link_or_bold item.first, item.last %>
      </li>
      <% end %>    
    <% end %>
    </ul>
    </div></div></div>
    <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>
  <% end %>
</div>
